@import "variables.css";

.scroll-section {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.discover {
    background-color: transparent;
}

.scroll-section .container-discover {
    background-color: var(--text-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 0 100% 100% 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding-left: 0vw;
    overflow: hidden;
}

.cobweb {
    width: 100%;
    height: 50%;
    margin-left: -30px;
    scale: 1.05;
    transform: translateX(100%);
}

.container-discover h2 {
    font-size: 75px;
    color: var(--primary-color);
    font-family: "American Captain", sans-serif;
}

.container-discover img {
    width: 60vw;
    height: auto;
    max-height: 600px;
}
