@import "variables.css";

header {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0b0a1266; /* 66 =  40% d'opacité*/
    position: fixed;
    padding: 0px 60px;
    z-index: 99;
}

.logo {
    width: 50px;
    height: auto;
}

.container-btn-menu {
    position: relative;
    width: auto;
    height: 100%;
}

.btn-burger {
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: none;
    position: absolute;
    padding: 0;
    cursor: pointer;
    left: calc(50% - 40px);
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.btn-burger .bar {
    position: absolute;
    left: 20%;
    width: 50px;
    height: 3px;
    background-color: var(--text-color);
    transition: transform 0.8s ease;
}

.btn-burger .bar.bar--1 {
    transform: translate3d(0, -7px, 0);
}

.btn-burger .bar.bar--2 {
    transform: translate3d(0, 7px, 0);
}

.btn-burger:hover .bar--1 {
    transform: translate3d(0, -7px, 0) rotate(-180deg);
}

.btn-burger:hover .bar--2 {
    transform: translate3d(0, 7px, 0) rotate(-180deg);
}

.btn-burger.active .bar {
    transition: transform 0.6s ease;
}

.btn-burger.active .bar.bar--1 {
    transform: translate3d(0, 0px, 0) rotate(-135deg);
}

.btn-burger.active .bar.bar--2 {
    transform: translate3d(0, 0px, 0) rotate(-225deg);
}

.btn-burger.active:hover .bar.bar--1 {
    transform: translate3d(0, 0px, 0) rotate(-315deg);
}

.btn-burger.active:hover .bar.bar--2 {
    transform: translate3d(0, 0px, 0) rotate(-405deg);
}

/* ======================== Menu ======================== */
.menu {
    width: 0;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 9;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu.open {
    height: 100%;
    opacity: 1;
    visibility: visible;
}

.menu a {
    color: var(--text-color);
    font-size: 80px;
    text-decoration: none;
    padding: 10px 20px;
    opacity: 0;
    transform: translateY(-20px);
    font-family: "American Captain", sans-serif;
    text-shadow: 2px 2px 3px #000000;
}
/* ======================== End Menu ======================== */
