@import "variables.css";

@font-face {
    font-family: "American Captain";
    src: url("../Font/AmericanCaptain.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    /*font-family: "American Captain", sans-serif;*/
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: "Average Sans", sans-serif;
}

.home {
    width: 100%;
    height: 100vh;
    background-image: url("../IMG/avengers-home.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
