/* variables.css */
@font-face {
    font-family: "American Captain";
    src: url("../Font/AmericanCaptain.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #0b0a12;
    --secondary-color: #321dfe;
    --tertiary-color: #ff1e32;
    --text-color: #f3f3f3;
}
